.App {
	text-align: center;
}

.button {
		font-weight: bold;
	}

.add {
	top: -47px;
	left: 170px;
}

.edit {
	top: -47px;
	left: 170px;
}

.delete {
	top:-25px;
	left: 80px;
}

.checkbox {
	top: 30px;
	left: -50px;
}

.clearAll {
	top: 50px;
	left: 30px;
}

.tab {
	position: absolute;
	top: 55px;
	left: 42%;
}
