.App {
	text-align: center;
	display: flex;
	height: 100vh;
}

.button {
		font-weight: bold;
	}

.add {
	top: -45px;
	left: 170px;
}

.checkbox {
	top: 0px;
	left: -90px;
}

.delete {
	top: 5px;
	left: 80px;
}

.todoInput {
	margin-top: 10px;
	left: -80px;
}

.todo {
	width: 50vw;
	background-color: rgb(122, 199, 247);
}

.task {
	display: inline-block;
	width: 50vw;
	height: 100vh;
	background-color: rgb(232, 161, 215);
}

.taskInput {
	top: 30px;
	left: 800px;
}

.container {
	display: flex;
	width: 50%;
	margin-top: 30px;
	margin-left: 24%;
	justify-content: center;
	border: 2px solid black;
}

.taskContainer {
	display: flex;
	width: 40%;
	margin-top: 30px;
	margin-left: 40%;
	justify-content: center;
	border: 2px solid black;
}
